
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Compass</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/dashboard.css" media="screen" />

	</head>
	<body>
		<!--Page Wrapper Start-->
		<div id="wrapper">
			<!--aside Section Start-->

			<aside class="side-bar">
				<div class="sidebar-toggle">
					<span class="bar-1">&nbsp;</span>
					<span class="bar-2">&nbsp;</span>
					<span class="bar-3">&nbsp;</span>
				</div>

				<a href="index.html" class="logo"> <img src="assets/images/logo.png" alt="logo" /> </a>
				<nav class="navigation">
					<ul class="side-menu">
						<li class="active">
							<a href="#"> dashboard</a>
						</li>
						<li>
							<a href="#">my profile</a>
						</li>
						<li>
							<a href="#">my team</a>
						</li>
						<li>
							<a href="#">refrence link</a>
						</li>
            <li>
							<a href="#">account number</a>
						</li>
					</ul>
				</nav>

			</aside>
			<!--aside Section End-->
			<!--Content Area Start-->
			<div class="content">
				<div class="container clearfix">

					<section class="dashboard-content main-content">
						<div class="title-wrap clearfix">
							<div class="page-title">
								<h1>dashboard</h1>
							</div>

						</div>
						<div class="pending-approval">
							<ul class="approval clearfix">
								<li>
									<div class="approval-info">
                  <button class="btn btn-primary text-uppercase">i contribute</button>
                  <button class="btn btn-primary text-uppercase">i pay</button>
                  <button class="btn btn-primary text-uppercase">my  contribution</button>
                </div>
								</li>
								<li>
                  <div class="approval-info">
                  <button class="btn btn-primary text-uppercase">i wish</button>
                  <button class="btn btn-primary text-uppercase">my well wisher</button>
                </div>
								</li>
								<li>
                  <div class="approval-info">
                  <button class="btn btn-primary text-uppercase">total contribition</button>
                </div>
								</li>
								<li>
                  <div class="approval-info">
                  <button class="btn btn-primary text-uppercase">total wishes</button>
                </div>
								</li>
                <li>
                  <div class="approval-info">
                  <button class="btn btn-primary text-uppercase">total subscriber's</button>
                </div>
                </li>
                <li>
                  <div class="approval-info">
                  <button class="btn btn-primary text-uppercase">anouncement &amp; update</button>
                </div>
                </li>

							</ul>
						</div>


			</section>
		</div>
		</div>
		<!--Content Area End-->

		</div>
		<!--Page Wrapper End-->
		<script src="assets/js/jquery-3.2.1.min.js"></script>
		<script src="assets/js/site.js"></script>
	</body>
</html>
